[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
firebase-admin = "*"
forex-python = "*"
googletrans = "*"
humanfriendly = "*"
pycountry = "*"
python-dateutil = "*"
python-twitter = "*"
pytz = "*"
timezonefinder = "*"
pydrive = "*"
instaloader = "*"
beautifulsoup4 = "*"
lxml = "*"
# youtube-dl = {editable = true,git = "https://github.com/rli99/youtube-dl.git",ref = "master"}

[dev-packages]

[requires]
python_version = "3.8"
