[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
firebase-admin = "*"
forex-python = "*"
googletrans = "*"
humanfriendly = "*"
pycountry = "*"
python-dateutil = "*"
python-twitter = "*"
pytz = "*"
timezonefinder = "*"
pydrive = "*"
youtube-dl = "*"
instaloader = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.8"
