discord-py
firebase-admin
forex-python
googletrans
pycountry
python-dateutil
python-twitter
pytz
timezonefinder
pydrive
beautifulsoup4
lxml
discord-py-interactions
-e git+https://github.com/animelover1984/youtube-dl.git@master#egg=youtube-dl
mutagen
websockets
