discord-py
firebase-admin
forex-python
googletrans
humanfriendly
pycountry
python-dateutil
python-twitter
pytz
timezonefinder
pydrive
instaloader
beautifulsoup4
lxml
-e git+https://github.com/tsukumijima/youtube-dl.git@fork#egg=youtube-dl
