discord-py
firebase-admin
forex-python
googletrans
humanfriendly
pycountry
python-dateutil
python-twitter
pytz
timezonefinder
pydrive
instaloader
beautifulsoup4
lxml
discord-py-slash-command
-e git+https://github.com/animelover1984/youtube-dl.git@master#egg=youtube-dl
mutagen
websockets
