[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yarl = "<1.2"
"beautifulsoup4" = "*"
firebase-admin = "*"
forex-python = "*"
googletrans = "*"
humanfriendly = "*"
pycountry = "*"
python-dateutil = "*"
python-twitter = "*"
pytz = "*"
timezonefinder = "*"
pydrive = "*"
youtube-dl = "*"
"oauth2client" = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py", editable = true, ref = "rewrite"}

[dev-packages]

[requires]
python_version = "3.6"
